
/* Registro */
.fijarArriba {
  position: fixed;
  top:0;
}
.contiene-boton-header {
  display: inline;
  margin-right: 40px;
  line-height: 1.5em;
}
.contiene-boton-header a {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  background: #2693FF;
  padding: 4px 20px;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.39);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.39);
}
.contiene-boton-header a:hover {
  background: #0059B2;
}
/* Menu */
header{
  width: 100%;
  max-width: 1350px;
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 20;
  background:rgba(255,255,255,0.8);
}
#hamburger{
  width: 30px;
}
.menu{
  width: 95%;
  max-width: 1500px;
  margin: auto;
  padding: 0.5em 0;
  /* Acomoda proporcionalemnte los elementos*/
  display: flex;
  justify-content: space-between;
  /* centrar verticalmente */
  align-items: center;
}
#logo_menu{
  width: 150px;
}
.menu .container-menu .logo .btn-menu{
  color: #282828;
  font-size: 20px;
  display: none;
}
.menu .menu-link ul li{
  display: inline-block;
}
.menu .menu-link ul li a{
  text-decoration: none;
  color: #282828;
  margin-left: 15px;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 4px;
  transition: 0.7s;
  cursor: pointer;
}
.menu .menu-link ul li a:hover{
  color: #a96f04;
  text-shadow: 2px 2px 2px rgba(1,0,0,0);
}
.imagen_escalable{
  width: 100%;
  height: auto;
}

#menuActiva {
  padding: 4px 8px;
  background-color: #c5a059;
  color: white;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}
#menuActiva:hover {
  background-color: #a96f04;
}

  /* Media Queries */

/* Dispositivos muy pequeños (teléfonos de hasta 768px de anchura) */
/* No se define ninguna media query porque este es el estilo por
   defecto utilizado por Bootstrap 3 */
 
/* Dispositivos pequeños (tablets, anchura mayor o igual a 768px) */
@media (max-width: 768px) {

  
  header{
    background:rgba(255,255,255,0.8);
  }
    .flex-parent, .flex-child {
      display: block;
    }
    .mitad{
      width: 90%;
    }
    .logo_portada{
      width: 200px;
      margin-top: 60%;
     }
     .menu .container-menu .logo .btn-menu {
      display: block;
     }
     .menu .container-menu .logo .btn-menu img {
      width: 50px;
     }
     .menu .container-menu{
      width: 100%;
     }
     .menu .container-menu .logo {
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: space-between;
      }
    .menu .menu-link{
      position: absolute;
      background: rgba(255,255,255,.7);
      height: 100vh;
      width: 100%;
      top: 73px;
      left: -100%; /* Para ocultar el menu */
      z-index: 1000;
      backdrop-filter: blur(4px);
      transition: 0.8s ease;
     }
     .menu .menu-link ul li{
        display: block;
      }
    .menu .menu-link ul li a{
      color: #282828;
        display: block;
        height: 50px;
        border-bottom: 1px solid #a9a9a9;
        padding: 15px;
        text-align: center;
        font-weight: 400;
        margin: 0;
        cursor: pointer;
      }
      .registro {
        padding-top: 10px;
        padding-bottom: 0px;
      }
      .registro img {
        margin-right: 10px;
        width: 25px;
      }
      #carrito{
        margin-right: 30px;
      }
      .contiene-boton-header {
        margin-right: 20px;
        line-height: 2em;
      }
      .contiene-boton-header a {
        padding: 3px 10px;
       font-size: .7em;
      }


}/* Cierra Media Queries */

