

/* ==============================================================================
            E   S   T   I   L   O   S       C   O   M   U   N   E   S
============================================================================== */

.contenedor {
  position: relative;
  width: 100%;
  max-width: 1350px;
  min-height: 100%;
  margin: auto;
  box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  background-color: white;
}

.boton {
  width: fit-content;
  display: block;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 25px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.contieneRemate {
  text-align: center;
  padding: 90px 0;
}
.contieneRemate img {
  width: 50%;
  max-width: 150px;
  margin: auto;
}


/* ==============================================================================
            S  E  C  C  I  O  N  E  S
============================================================================== */

.contieneMitades {
  display: flex;
  align-items: center;
}
.contieneMitades .mitad {
  width: 50%;
}

.contieneCuartos {
  display: flex;
}
.contieneCuartos .cuarto {
  width: 25%;
}

.contieneTercios {
  display: flex;
}
.contieneTercios .tercio {
  width: 33.333%;
}


/* colores  */

.dorado {
  background-color: #c5a059;
  color: #5a4216;
}
.dorado:hover {
  background-color: #a96f04;
  color: #c5a059;
}
.azul {
  background-color: #068b8d;
  color: white;
}
.azul:hover {
  background-color: #005758;
  color: white;
}
.naranja {
  background-color: #da8324;
  color: #ffd7ad;
}
.naranja:hover {
  background-color: #8b4800;
  color: #502f0c;
}
.marfil {
  background-color: #eeeeee;
  color: rgb(65, 64, 64);
}
