

/* ==============================================================================
            E   S   T   I   L   O   S       C   O   M   U   N   E   S
============================================================================== */

.contenedor {
  position: relative;
  width: 100%;
  max-width: 1350px;
  min-height: 100%;
  margin: auto;
  box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  background-color: white;
}







/* ==============================================================================
            E   S   T   I   L   O   S       C   O   M   U   N   E   S
============================================================================== */

.contenedor {
  position: relative;
  width: 100%;
  max-width: 1350px;
  min-height: 100%;
  margin: auto;
  box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
  background-color: white;
}