.contieneRRSS {
    width: 100%;
    padding: 90px 0;
}
.contieneRRSS .cajaRRSS {
    width: 80%;
    margin: auto;
}
.contieneRRSS .cajaRRSS h2 {
    text-align: center;
    font-size: 1.6rem;
}
.contieneRRSS .cajaRRSS .contieneCuartos {
    width: 60%;
    max-width: 320px;
    margin: auto;
    padding: 64px 0;
    justify-content: space-around;
}
.contieneRRSS .cajaRRSS .contieneCuartos .cuarto {
    max-width: 50px;
}
.contieneRRSS .cajaRRSS .contieneCuartos .cuarto img {
    width: 90%;
    margin: auto;
}
.contieneRRSS .cajaRRSS .contieneTercios {
    width: 60%;
    margin: auto;
}

.contieneRRSS .cajaRRSS .contieneTercios .tercio img {
    width: 90%;
    margin: auto;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
}